<li class="aui-list-item" style="display: block;">
    <div class="aui-media-list-item-inner">
        <div class="aui-list-item-media">
            <img src="/aui/image/q2.jpg">
        </div>
        <div class="aui-list-item-inner aui-padded-t-10 aui-padded-b-10" style="display: block;">
            <div class="aui-list-item-text">
                <div class="aui-list-item-title">早餐2</div>
                <div class="aui-list-item-right">08:00</div>
            </div>
            <div class="aui-list-item-text">
                <div class="aui-ellipsis-2">这里是内容区域，新版中的列表布局可以很轻松的帮助开发者完成常见列表样式。</div>
            </div>
        </div>
    </div>
</li>