<% include ../subpro/nav/header.ejs %>
<style type="text/css">
    .goods-title {
        color: #757575 !important;
    }
    .goods-price {
        color: #666666 !important;
        font-weight: 700;
    }
</style>
<section class="aui-content">
    <div class="aui-card-list aui-border-t aui-border-b">
        <div class="aui-card-list-header aui-card-list-user">
            <div class="aui-card-list-user-avatar">
                <img src="/aui/image/q1.jpg">
            </div>
            <div class="aui-card-list-user-name">
                <div class="aui-font-size-16">早餐专配 <i class="aui-iconfont aui-icon-right aui-font-size-12"></i></div>
                <small>订单已完成</small>
            </div>
            <div class="aui-card-list-user-info">5小时30分钟前</div>
        </div>
        <div class="aui-card-list-content aui-border-t" style="margin-left: 3.5rem;">
            <ul class="aui-list aui-list-noborder">
                <div class="aui-list-item aui-padded-l-0">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-title aui-font-size-14 goods-title">周早餐1</div>
                        <div class="aui-list-item-right goods-price">￥55</div>
                    </div>
                </div>
            </ul>
        </div>
        <div class="aui-card-list-footer aui-border-t">
            <div></div>
            <div>
                <div class="aui-btn aui-btn aui-btn-outlined aui-btn-warning">评价得积分</div>
            </div>
        </div>
    </div>
    <div class="aui-card-list aui-border-t aui-border-b">
        <div class="aui-card-list-header aui-card-list-user">
            <div class="aui-card-list-user-avatar">
                <img src="/aui/image/q1.jpg">
            </div>
            <div class="aui-card-list-user-name">
                <div class="aui-font-size-16">早餐专配 <i class="aui-iconfont aui-icon-right aui-font-size-12"></i></div>
                <small>订单已完成</small>
            </div>
            <div class="aui-card-list-user-info">5小时30分钟前</div>
        </div>
        <div class="aui-card-list-content aui-border-t" style="margin-left: 3.5rem;">
            <ul class="aui-list aui-list-noborder">
                <div class="aui-list-item aui-padded-l-0">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-title aui-font-size-14 goods-title">周早餐1</div>
                        <div class="aui-list-item-right goods-price">￥55</div>
                    </div>
                </div>
            </ul>
        </div>
        <div class="aui-card-list-footer aui-border-t">
            <div></div>
            <div>
                <div class="aui-btn aui-btn aui-btn-outlined aui-btn-warning">评价得积分</div>
            </div>
        </div>
    </div>

</section>
<script type="text/javascript" src="/aui/script/api.js" ></script>
<script type="text/javascript" src="/aui/script/aui-tab.js" ></script>
<script type="text/javascript" src="/aui/script/aui-slide.js"></script>
<script type="text/javascript" src="/javascript/jquery-3.1.1.slim.min.js"></script>
<% include ../subpro/nav/footer.ejs %>