<% include header.ejs %>
<div class="container-fluid">
    <div class="row clearfix">
        <ul class="list-group">
            <div class="col-md-2 column">
                <a href="/bk/foodlistpage" class="list-group-item">菜品列表</a>
                <a href="/bk/upfoodpage" class="list-group-item">上传菜品</a>
                <a href="/bk/articlelistpage" class="list-group-item">文章列表</a>
                <a href="/bk/uparticlepage" class="list-group-item">上传文章</a>
                <a href="/bk/imglistpage" class="list-group-item">图片列表</a>
                <a href="/bk/upimgpage" class="list-group-item">上传图片</a>
                <a href="/bk/giftpage" class="list-group-item">礼物列表</a>
                <a href="/bk/upgiftpage" class="list-group-item">上传礼物</a>
            </div>
        </ul>
        <div class="col-md-10 column">