<% include header.ejs %>

<div class="container-fluid">
    <div class="row clearfix">
        <ul class="list-group">
            <div class="col-md-2 column">
                <a href="/bk/qrcodepage" class="list-group-item">二维码生成</a>
                <a href="/bk/qrcodelistpage" class="list-group-item">二维码列表</a>
            </div>
        </ul>
        <div class="col-md-10 column">