<% include ../subpro/nav/header.ejs %>
<style>
    body{
        background-color: rgba(255, 255, 255, 0.9);
        background-image: url('/aui/image/back1.png');
    }
    .all{
        margin-top: 3rem;
        text-align: center;
    }
    h1,h2,button,img{
        color: rgba(254, 254, 255, 0.9);
        position: relative;
    }
    h1{

    }
</style>
<div class="all">
<h1>您已经领过此次活动的优惠券</h1>
    <h1>请期待下次活动</h1>
</div>