<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/aui/css/aui.css" />
    <link rel="stylesheet" type="text/css" href="/aui/css/aui-slide.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/my.css">

    <style type="text/css">
        .bg-dark {
            background: #333333 !important;
        }
        .aui-slide-node img {
            width: auto;
            height: 100%;
        }


    </style>
</head>
<body>