<footer class="aui-bar aui-bar-tab">
    <div class="aui-bar-tab-item" tapmode style="width: 3rem;">
        <div class=" aui-text-info">价格</div>
    </div>
    <div class="aui-bar-tab-item" tapmode style="width: 3rem;">
        <div class=" aui-text-warning"><%=data.balance %>元</div>
    </div>
    <div class="aui-bar-tab-item my-green aui-text-white" tapmode style="width: auto;" onclick="window.location.href= '/wx/addcart?id=<%=data.id%>';return false">加入购物车</div>
</footer>
</body>
<script>
</script>
</html>