<% include ../nav/header.ejs %>
<style>
</style>
<div id="aui-slide3">
    <div class="aui-slide-wrap" >
        <div class="aui-slide-node bg-dark">
            <img src="/aui/image/q1.jpg" />
        </div>
        <div class="aui-slide-node bg-dark">
            <img src="/aui/image/q2.jpg" />
        </div>
        <div class="aui-slide-node bg-dark">
            <img src="/aui/image/q3.jpg" />
        </div>
    </div>
    <div class="aui-slide-page-wrap"><!--分页容器--></div>
</div>
<section class="aui-content" style="background-color: #ffffff">
<div style="height: 2rem;padding-top: 0.5rem">
<div style="width:5%;float: left;"><img src="/aui/image/quotation.ico"></div>
<div style="width:95%;float: right;">
<marquee direction="left">早餐6:00~8:00 午晚餐10:00~19:00 轻食6:00~18:30</marquee>
</div>
</div>

</section>
<section class="aui-content" style="background-color: #ffffff">
    <hr style="height:1px;border:none;border-top:1px solid #E8E8E8;;margin-bottom: 1rem;color: #E8E8E8">
</section>
<!--<section class="aui-content">-->
    <!--<ul class="home-ul-nav" >-->
        <!--<li onclick="window.location.href= '/wx/couponspage';return false">-->
            <!--<div ><img src="/aui/image/优惠券.svg"></div>-->
            <!--<div ><span>优惠</span></div>-->
        <!--</li>-->
        <!--<li onclick="window.location.href= '/wx/activitypage';return false">-->
            <!--<div ><img src="/aui/image/活动.svg"></div>-->
            <!--<div ><span>活动</span></div>-->
        <!--</li>-->

        <!--<li onclick="window.location.href= '/wx/pointpage';return false">-->
            <!--<div ><img src="/aui/image/米饭.svg"></div>-->
            <!--<div ><span>饭粒</span></div>-->
        <!--</li>-->
        <!--<li onclick="window.location.href= '/wx/articlepage';return false">-->
            <!--<div ><img src="/aui/image/读书1.svg"></div>-->
            <!--<div ><span>故事</span></div>-->
        <!--</li>-->
    <!--</ul>-->
    <!--</section>-->
<!--<section class="aui-content">-->
    <!--<ul class="home-ul-nav" >-->
        <!--<li onclick="window.location.href= '/wx/couponspage';return false">-->
            <!--<div ><img src="/aui/image/优惠券1.svg"></div>-->
            <!--<div ><span>优惠</span></div>-->
        <!--</li>-->
        <!--<li onclick="window.location.href= '/wx/activitypage';return false">-->
            <!--<div ><img src="/aui/image/活动1.svg"></div>-->
            <!--<div ><span>活动</span></div>-->
        <!--</li>-->

        <!--<li onclick="window.location.href= '/wx/pointpage';return false">-->
            <!--<div ><img src="/aui/image/米饭1.svg"></div>-->
            <!--<div ><span>饭粒</span></div>-->
        <!--</li>-->
        <!--<li onclick="window.location.href= '/wx/articlepage';return false">-->
            <!--<div ><img src="/aui/image/读书.svg"></div>-->
            <!--<div ><span>故事</span></div>-->
        <!--</li>-->
    <!--</ul>-->
<!--</section>-->
<!--<section class="aui-content">-->
    <!--<ul class="home-ul-nav" >-->
        <!--<li onclick="window.location.href= '/wx/couponspage';return false">-->
            <!--<div ><img src="/aui/image/优惠3.png"></div>-->
            <!--<div ><span>优惠</span></div>-->
        <!--</li>-->
        <!--<li onclick="window.location.href= '/wx/activitypage';return false">-->
            <!--<div ><img src="/aui/image/活动3.png"></div>-->
            <!--<div ><span>活动</span></div>-->
        <!--</li>-->

        <!--<li onclick="window.location.href= '/wx/pointpage';return false">-->
            <!--<div ><img src="/aui/image/饭粒3.png"></div>-->
            <!--<div ><span>饭粒</span></div>-->
        <!--</li>-->
        <!--<li onclick="window.location.href= '/wx/articlepage';return false">-->
            <!--<div ><img src="/aui/image/故事3.png"></div>-->
            <!--<div ><span>故事</span></div>-->
        <!--</li>-->
    <!--</ul>-->
<!--</section>-->
<section class="aui-content">
    <ul class="home-ul-nav" >
        <li onclick="window.location.href= '/wx/couponspage';return false">
            <div ><img src="/aui/image/优惠5.png"></div>
            <div ><span>优惠</span></div>
        </li>
        <li onclick="window.location.href= '/wx/activitypage';return false">
            <div ><img src="/aui/image/活动6.png" ></div>
            <div ><span>活动</span></div>
        </li>

        <li onclick="window.location.href= '/wx/pointpage';return false">
            <div ><img src="/aui/image/饭粒5.png"></div>
            <div ><span>饭粒</span></div>
        </li>
        <li onclick="window.location.href= '/wx/articlepage';return false">
            <div ><img src="/aui/image/故事5.png"></div>
            <div ><span>故事</span></div>
        </li>
    </ul>
</section>


<section class="aui-content" style="margin-bottom: 3rem;">
    <!--<table class="shome-nav">-->
        <!--<tr><td ><div><img src="/aui/image/nav-coupons.png"></div></td><td><img src="/aui/image/nav-activity.png"></td><td><img src="/aui/image/nav-point.png"></td></tr>-->
        <!--<tr><td>优惠</td><td>活动</td><td>积分</td></tr>-->
    <!--</table>-->
<!--<div class="aui-tab" id="tab">-->
    <!--<div class="aui-tab-item aui-active">早餐</div>-->

    <!--<div class="aui-tab-item">午晚餐</div>-->

    <!--<div class="aui-tab-item">轻食</div>-->
<!--</div>-->
<!--<div id = 'breakfastlist'>-->
    <% include ../foodlist/breakfast.ejs%>
<!--</div>-->

<!--<div id = 'dinnerlist'>-->

    <% include ../foodlist/dinner.ejs%>
<!--</div>-->

<!--<div id = 'lightfoodlist'>-->

    <% include ../foodlist/lightfood.ejs%>
<!--</div>-->
</section>


<script type="text/javascript" src="/aui/script/api.js" ></script>
<script type="text/javascript" src="/aui/script/aui-tab.js" ></script>
<script type="text/javascript" src="/aui/script/aui-slide.js"></script>
<script type="text/javascript" src="/javascript/jquery-3.1.1.js"></script>
<script type="text/javascript">
    var slide3 = new auiSlide({
        container:document.getElementById("aui-slide3"),
        "height":260,
        "speed":500,
        "autoPlay": 3000, //自动播放
        "loop":true,
        "pageShow":true,
        "pageStyle":'dot',
        'dotPosition':'right'
    });
    var tab = new auiTab({
        element:document.getElementById("tab"),
    },function(ret){
        if(ret.index == 1){
            $('#breakfastlist').show();
            $('#dinnerlist').hide();
            $('#lightfoodlist').hide();
        }
        else if (ret.index == 2){
            $('#breakfastlist').hide();
            $('#dinnerlist').show();
            $('#lightfoodlist').hide();
        }else if(ret.index == 3){
            $('#breakfastlist').hide();
            $('#dinnerlist').hide();
            $('#lightfoodlist').show();
        }

    });

        $('#dinnerlist').hide();
        $('#lightfoodlist').hide();
        function changefun(mid){
            var fun = mid.split('_')[0];
            var id = mid.split('_')[1];
            var valueid = 'value_' + id;
            $.get("/wx/changecartcount", {id: id, fun: fun,type:'home'}, function (r) {
                if (r.call == 1) {
                    $("#" + valueid).text(r.num);
                }else if (r.call ===3){
                    var bar = 'bar_'+id;
                    if(r.type===1){
                        var html ='<div class="mynub" id="minus_'+id+'" href="javascript:void(0);" onclick="changefun(this.id)"> - </div> <div class="mynub-text" id="value_'+id+'">'+ r.num+'</div> <div class="mynub" id="plus_'+id+'" href="javascript:void(0);" onclick="changefun(this.id)"> + </div>';

                    }
                    else{
                        var html ='  <div class="mynub" id="minus_'+id+'" href="javascript:void(0);" onclick="changefun(this.id)"> - </div> <div class="mynub-text" id="value_'+id+'">'+ r.num+'</div> <div class="mynub" id="plus_'+id+'" href="javascript:void(0);" onclick="changefun(this.id)"> + </div>';

                    }
                    $('#'+bar).html(html);
                }
                else if(r.call ===4){
                    var bar = 'bar_'+id;
                    if(r.type===1){
                        var html =' <div class="mynub breakfastnub" id="newplus_'+id+'" href="javascript:void(0);" onclick="changefun(this.id)"> 现在购买 </div>';

                    }
                    else{
                        var html =' <div class="mynub" id="newplus_'+id+'" href="javascript:void(0);" onclick="changefun(this.id)"> + </div> ';

                    }
                    $('#'+bar).html(html);
                }
                else {
                    alert(r.msg);
                }
                if(r.cartlen>0){
                    $('#cartnum').html('<div class="aui-badge">'+ r.cartlen+'</div>');
                }
                else {
                    $('#cartnum').html('');
                }
            });
        }
        $(".mynub").on('click',function(){
            changefun(this.id);
        });

</script>
<% include ../nav/footer.ejs %>